<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- METADATA -->
    <title>Contact Us | Customer Service | Commerce Bank</title>
    <meta name="description" content="Contact Commerce Bank customer service whenever you need us via phone, email or in a branch location." />
    <meta name="keywords" content="contact, contact us, customer service, support, account services, help" />
    <meta property="og:title" content="Contact Us | Customer Service" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="Contact Commerce Bank customer service whenever you need us via phone, email or in a branch location." />
    <meta property="og:url" content="/contactus" />
    <link rel="icon" href="static/-/medial/cb/images/global/favicon.ico?revision=3e33187d-4bad-4881-8705-dcdd88318311&amp;modified=20181012174823" type="image/x-icon">
    <link id="canonicalUrl" rel="canonical" href="https://www.commercebank.com/contact-us" />

    <link rel="stylesheet" href="static/Styles/cb.v-dliqtv4029eyc7jy5mafq.css">
    <link rel="stylesheet" href="static/Styles/cb-footer.v-ekz5fdp0vdepykg5dgigxq.css" />
    <link rel="preload" as="font" href="static/Styles/cerapro-regular-webfont.v-gcdfbgkixjaxdvnipfwl1a.woff2" type="font/woff2" crossorigina="anonymous">
    <link rel="preload" as="font" href="static/Styles/cerapro-regularitalic-webfont.v-bcwjn8yk5kpbfydnbwvvng.woff2" type="font/woff2" crossorigina="anonymous">
    <link rel="preload" as="font" href="static/Styles/cerapro-medium-webfont.v-61oqyxrun0ctqvqn5jxjmq.woff2" type="font/woff2" crossorigina="anonymous">
    <link rel="preload" as="font" href="static/Styles/cerapro-bold-webfont.v-o8qgb9cgdwqubxnbueiasa.woff2" type="font/woff2" crossorigina="anonymous">
    <link rel="preload" as="font" href="static/fonts/cb-icomoon.v-ojdvz2lnhpm91z0cyglsow.eot" type="font/embedded-opentype" crossorigina="anonymous">
    <link rel="preload" as="font" href="static/fonts/cb-icomoon.v-xgo0obbfc1cwsl8oqrggvw.svg" type="font/svg" crossorigina="anonymous">

    <link rel="stylesheet" href="static/Styles/cc-cb.v-shxvleyoyif2jecmvkoxa.css">
    <link rel="stylesheet" href="static/Styles/cc-ratings.v-f4pqzixgcgo6ayrfgwjirw.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Required for navigation -->
    <link rel="stylesheet" href="static/Styles/navigation/cb-nav.v-1lrukvukhwvdkeu8oxvesg.css" />
    <link rel="stylesheet" href="static/Styles/navigation/cb-login-box.v-vwout5zaspc8xsexugta.css" />
    <script src="static/Scripts/navigation/jquery/jquery-3.5.1.min.v-thqm4tanibnua1tbidpww.js"></script>
    <link rel="stylesheet" href="static/Styles/navigation/4.3.1/bootstrap.min.v-0ydrdbjmsdsb9hcfyrcia.css" />
    <!-- END -->

    <link rel="stylesheet" href="static/Styles/cb-workday.v-mqphl98oj1wusydqubni0q.css">
    <link rel="stylesheet" href="static/Styles/icofont-direction.v-u8pmhhxb3qneyi1bth7xwa.css">

    <!-- OneTrust Cookies Consent Notice -->
    <script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" type="text/javascript" charset="UTF-8" data-domain-script="6e1ae017-d5ac-4646-9684-fafac3ca4fde"></script>
    <script type="text/javascript">
        function OptanonWrapper() {
            window.dataLayer.push({ event: 'OneTrustGroupsUpdated' });
        }
    </script>



    <script defer src="static/Scripts/js.cookie.min.v-xaicfwm8rfbeu6pm7gtiow.js"></script>
    <script defer src="static/Scripts/alert.min.v-po67qxymgn1c5enk2f0ybg.js"></script>

    <script type="text/javascript">
        var CB = { config: {} };
    </script>


    <!-- GOOGLE TAG MANAGER - GTM Head -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
            var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KGNVMR');
    </script></head>
    <body class="pageload">
        <!-- GOOGLE TAG MANAGER - GTM Body -->
        <noscript>
            <iframe title="hidden tool" aria-hidden="true" src="https://www.googletagmanager.com/ns.html?id=GTM-KGNVMR"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- JS GLOBALS -->
        <script type="text/javascript">
            var CB = CB || {};
            CB.config = CB.config || {};
            CB.config.mapquestKey = 'Gmjtd|lu6y2huynl,ag=o5-lwr0h';
            CB.config.locationSearchRadius = 20;
            CB.config.api = {
                search: {
                    location: 'https://www.mapquestapi.com/search/v2/radius',
                },
                route: 'https://www.mapquestapi.com/directions/v2/route',
                reverseGeocode: 'https://www.mapquestapi.com/geocoding/v1/reverse'
            };
            CB.config.urls = {
                locationFinder: '#',
                brokerageServices: 'static/Assets/personal/invest/financial-advisor-locations'
            };

            CB.content = {
                nav: {
                    BUTTON_BACK_BUSINESS: 'Back to Business Banking',
                    BUTTON_BACK_PERSONAL: 'Back to Personal Banking'
                },
                nearestLocation: {
                    INPUT_LABEL_BRANCH: 'Branch',
                    INPUT_LABEL_ATM: 'ATM',
                    HEADING_NEAREST_BRANCH: 'Nearest ATM location',
                    HEADING_NEAREST_ATM: 'Nearest location',
                    HEADING_NEAREST_LOCATION: 'Nearest branch location',
                    HEADING_FIND_A_LOCATION: 'Find a location',
                    BUTTON_SUBMIT_DIRECTIONS: 'Get directions',
                    BUTTON_MORE_LOCATIONS: 'More locations',
                    HEADING_HOURS: 'Hours',
                    HEADING_SERVICES: 'Services',
                    HEADING_NEARBY_LOCATIONS: 'Nearby locations',
                    DAYS_MONDAY_THROUGH_WEDNESDAY: 'Mon - Wed:',
                    DAYS_THURSDAY: 'Thursday:',
                    DAYS_FRIDAY: 'Friday:',
                    DAYS_SATURDAY: 'Saturday:',
                    DAYS_SUNDAY: 'Sunday:',
                    SERVICE_INSTANT_CARD_ISSUE: 'Instant issue card',
                    SERVICE_COIN_COUNTER: 'Coin counter',
                    SERVICE_FINANCIAL_ADVISER: 'Financial advisor',
                    SERVICE_COMMERCIAL_SERVICES: 'Commercial services',
                    SERVICE_EXTENDED_HOURS: 'Extended hours',
                    SERVICE_ATM_24_HOUR: '24 hour ATM'
                },
                solutionFinder: {
                    ONE_CARD: 'card',
                    MULTIPLE_CARDS: 'cards'
                },
                spinner: {
                    TEXT: 'Loading...'
                }
            };
        </script>
        <script src="static/Scripts/cb.common.v-1dhx0gz3t94dhpg4hdmxq.js" defer="defer"></script>
        <script src="static/Scripts/cb.main.v-eycb31otsimdxdttfum2tw.js" defer="defer"></script>


        <a href="#main" class="skip-to-main" tabindex="1">Skip To Main Content</a>
        <div class="theme-wrapper">
            <!--MODAL-->
            <script>
                function showLogin() {
                    document.getElementById('main_login_modal').style.display = 'block';
                    return false;
                }

                function hideLogin() {
                    document.getElementById('main_login_modal').style.display = 'none'
                }
            </script>
            <div id="main_login_modal" class="login_modal">
                <div class="login_modal_wrapper">
                    <div class="login_modal_content">
                        <header>
                            <span class="login_modal_content_close">
                                <a href="#" onclick="hideLogin()">X</a>
                            </span>
                        </header>

                        <div class="login_section">
                            <div class="bubbles"></div>
                            <div class="login_wrapper_bg_circle">
                                <div class="login_text">


                                    <!-- NEW login -->
                                    <h2 class="login_welcome">Log in or select an account:</h2>
                                    <label class="login_dropdown login_label_left" />
                                    <div class="login form-group login_select" style="padding: initial; margin: initial;">
                                        <span class="account-type">Select your account type</span>
                                        <div class="login-main">
                                            <select id="login1Select" class="selectpicker" onchange="loginChanged('login1');">
                                                <option value="A3F86833BD044DF68B6516A97AF10B30">Online Banking</option>
                                                <option value="982A48C3D87C4B13917AC48B8AF24B82">Credit Cards</option>
                                                <option value="FF57E941B11E4A61BB50FBD35D2F08E9">mySpending Card&#174;</option>
                                                <option value="13581638AB4E4209A06511BBEDDCF060">Mortgage Loans</option>
                                                <option value="EDA99400DC314D2CB55B3FE8AEBDE389">Health Services Financing</option>
                                                <option value="13E2DBDD6C18400897E88986FA3C0D38">Health Payment Plan</option>
                                                <option value="D2F87B912F564563A3276FED40319203">Commerce Trust Wealth Manager</option>
                                                <option value="6F11D620D37A4E61B53A10CDC9717919">Brokerage Account</option>
                                                <option value="5E7A6187F0264D86BEC7EB78428A864F">Student Loans</option>
                                            </select>
                                        </div>

                                        <div class="ie-only" style="display: none;">
                                            <select id="login1SelectIE" style="width: 100% !important; max-width: 100% !important; height: 35px !important;" onchange="loginChanged('login1');">
                                                <option value="A3F86833BD044DF68B6516A97AF10B30">Online Banking</option>
                                                <option value="982A48C3D87C4B13917AC48B8AF24B82">Credit Cards</option>
                                                <option value="FF57E941B11E4A61BB50FBD35D2F08E9">mySpending Card&#174;</option>
                                                <option value="13581638AB4E4209A06511BBEDDCF060">Mortgage Loans</option>
                                                <option value="EDA99400DC314D2CB55B3FE8AEBDE389">Health Services Financing</option>
                                                <option value="13E2DBDD6C18400897E88986FA3C0D38">Health Payment Plan</option>
                                                <option value="D2F87B912F564563A3276FED40319203">Commerce Trust Wealth Manager</option>
                                                <option value="6F11D620D37A4E61B53A10CDC9717919">Brokerage Account</option>
                                                <option value="5E7A6187F0264D86BEC7EB78428A864F">Student Loans</option>
                                            </select>
                                        </div>
                                    </div>
                                    <form class="login1 login-content A3F86833BD044DF68B6516A97AF10B30" id="A3F86833BD044DF68B6516A97AF10B30" method="post" action="https://banking.commercebank.com/CBI/Auth/Login" style="clear:both">
                                        <div class="form-group">
                                            <!--<label for="nav-online-banking-customer-id">Customer ID</label>-->
                                            <input type="text" id="nav-online-banking-customer-id" class="form-control" name="txtUserID" placeholder="Enter Customer ID" />
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-block">Log In</button>
                                    </form>
                                    <a class="login1 login-content btn btn-primary btn-block 982A48C3D87C4B13917AC48B8AF24B82" id="982A48C3D87C4B13917AC48B8AF24B82" href="static/Assets/personal/cards/card-member-access" style="clear:both">Log In</a>
                                    <a class="login1 login-content btn btn-primary btn-block FF57E941B11E4A61BB50FBD35D2F08E9" id="FF57E941B11E4A61BB50FBD35D2F08E9" href="https://www.commercebank.com/myspendingcard" style="clear:both">Log In</a>
                                    <a class="login1 login-content btn btn-primary btn-block 13581638AB4E4209A06511BBEDDCF060" id="13581638AB4E4209A06511BBEDDCF060" href="https://loansphereservicingdigital.bkiconnect.com/commerce/#/" style="clear:both">Log In</a>
                                    <a class="login1 login-content btn btn-primary btn-block EDA99400DC314D2CB55B3FE8AEBDE389" id="EDA99400DC314D2CB55B3FE8AEBDE389" href="https://banking.commercebank.com/CBI/Auth/Login" style="clear:both">Log In</a>
                                    <a class="login1 login-content btn btn-primary btn-block 13E2DBDD6C18400897E88986FA3C0D38" id="13E2DBDD6C18400897E88986FA3C0D38" href="https://banking.commercebank.com/CBI/Auth/Login" style="clear:both">Log In</a>
                                    <a class="login1 login-content btn btn-primary btn-block D2F87B912F564563A3276FED40319203" id="D2F87B912F564563A3276FED40319203" href="https://banking.commercebank.com/cbi/login.aspx?exp=trust" style="clear:both">Log In</a>
                                    <a class="login1 login-content btn btn-primary btn-block 6F11D620D37A4E61B53A10CDC9717919" id="6F11D620D37A4E61B53A10CDC9717919" href="https://wealthscapeinvestor.com/commercefinancialadvisors" style="clear:both">Log In</a>
                                    <a class="login1 login-content btn btn-primary btn-block 5E7A6187F0264D86BEC7EB78428A864F" id="5E7A6187F0264D86BEC7EB78428A864F" href="https://www.salliemae.com/login/" style="clear:both">Log In</a>
                                    <!-- /NEW login -->
                                </div>
                            </div>
                            <!--/.login_wrapper_bg_circle-->
                        </div>
                        <!-- /.login_section -->
                        <script>
                            function loginChanged(cls) {
                                if ($('.login-main:visible').length > 0 /*!= $('.login-main').length*/) {
                                    $('.' + cls + '.login-content').hide().filter($('.' + cls + '.' + $('#' + cls + 'Select option:selected').val())).show();
                                }
                                else {
                                    $('.' + cls + '.login-content').hide().filter($('.' + cls + '.' + $('#' + cls + 'SelectIE option:selected').val())).show();
                                }
                            }

                            // IE support
                            if (window.document.documentMode) {
                                $('.login-main').hide();
                                $('.ie-only').show();

                                // IE mobile - tablets I guess?
                                $('#login1SelectIE option:eq(0)').prop('option:selected', true)
                                $("select option").addClass("changeOptionBackground").on('change', function () {
                                    var optionIndex = $(this).find('option:selected').index();
                                    $(this).toggleClass('changeOptionBackground', optionIndex == 0);
                                });
                            }

                            loginChanged('login1');
                        </script>

                    </div>
                    <!--/.login_modal_content-->
                </div>
                <!--/.login_modal_wrapper-->
            </div>
            <!--/end MODAL-->


            <!--start megamenu-->
            <div id="megaMenu">

                <div class="background">
                    <div class="container">
                        <nav aria-role="navigation" aria-label="Banking Type">
                            <div class="logo">
                                <div class="all-center">
                                    <a href="/">
                                        <img src="" class="img-responsive img-dynamic" alt="Commerce Bank, Member FDIC" data-img-url="static/-/medial/cb/images/masthead/site-logo/cblogowhite00c2aa7d.svg?sc=0.5&amp;revision=84c44cf4-c4cd-464b-af56-2daaa8047e21&amp;modified=20200623220845&amp;hash=3BBFD28DDC531153AA4B12518E50F6CB7ADC79FE" data-img-url-2x="static/-/medial/cb/images/masthead/site-logo/cblogowhite00c2aa7d.svg?sc=1&amp;revision=84c44cf4-c4cd-464b-af56-2daaa8047e21&amp;modified=20200623220845&amp;hash=7445B3524AFBCCD563926A56DB0884A44872E08F" />

                                    </a>
                                </div>
                            </div>

                            <div class="login-menu">
                                <div class="logIn">
                                    <span class="log-in" onclick="showLogin()"><a href="#">Log In</a></span>
                                </div>
                                <div class="hamburgerBtn">
                                    <div class="hamburger ">
                                        <div class="line"></div>
                                        <div class="line"></div>
                                        <div class="line"></div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>

                <div class="openMenu">

                    <div class="tab-content card" id="myTabContentMD">

                        <div class="tab-pane tab-fade tab-show active" id="personal-md" role="tabpanel" aria-labelledby="personal-tab-md">
                            <div class="allContent">

                                <div class="logoDesktop">
                                    <div class="all-center">
                                        <a href="/">
                                            <img src="" class="img-responsive img-dynamic" alt="Commerce Bank, Member FDIC" data-img-url="static/-/media/cb/images/masthead/site-logo/commerce-bank-logo-2x.png?sc=0.5&amp;revision=8053fce9-78ee-41e0-aa9a-c1cfab49ec14&amp;modified=20180604184102&amp;hash=00A5CED167854801EFDC851C697A9B8D10B3BF50" data-img-url-2x="static/-/media/cb/images/masthead/site-logo/commerce-bank-logo-2x.png?sc=1&amp;revision=8053fce9-78ee-41e0-aa9a-c1cfab49ec14&amp;modified=20180604184102&amp;hash=CAE86867BF79A4AAE80A6B03FEFDC9E69CF93867" />

                                        </a>
                                    </div>
                                </div>
                                <div class="dropMenu" aria-role="navigation" aria-label="Main Navigation">
                                    <ul id="megaM">
                                        <li class="nav-item">
                                            <a href="{{url_for('about_us')}}" class="nav-link">About Us</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{{url_for('contact_us')}}" class="nav-link hover">Contact Us</a>
                                        </li>
                                    </ul>

                                    <div class="contact">
                                        <span class="find">
                                            <a href="https://locations.commercebank.com/locations/" target="">
                                                Find a Branch or ATM
                                            </a>
                                        </span>
                                        <span class="contactUs">
                                            <a href="{{url_for('contact_us')}}" target="">
                                                Contact Us
                                            </a>
                                        </span>
                                    </div>


                                </div>




                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end megamenu-->

            <div class="overlayBackground"></div>

            <main class="main" id="main" tabindex="-1">

                <div class="main-inner">

                    <div class="header header-small header-with-graphic  header-highlight-blue img-dynamic" data-img-url="static/-/media/cb/images/headers/small-header/about-us-hero-desktop.jpg"
                    data-img-url-mobile="static/-/media/cb/images/headers/small-header/about-us-hero-desktop.jpg">
                    <span class="sr-only">circles on a green background</span>
                    <div class="header-inner">
                        <div class="header-content">
                            <h1 class="sr-only">Commerce Bank Customer Service</h1>
                            <h2 class="h2">
                                Contact Commerce

                            </h2>

                        </div>
                    </div>

                </div>
               <ul class="breadcrumbV2">
            <li><a href="/">Home</a></li>
            <li>About Us</li>
</ul>
                    <div class="main-inner">
                <div class="text-box">
At Commerce Bank, we know life’s best moments can come with financial challenges. Our mission? To help people and businesses solve financial challenges so they can focus on the things that matter most. For over 150 years, we’ve provided individuals, businesses and communities with the innovative solutions and personal attention they need to achieve the things that matter to them. We provide both the high-touch personal service and innovative solutions our customers need to allow them to bank when, where and how they prefer.
<!--<img alt="Commerce Bank globe" src="/-/media/cb/images/about-us/globe-large.png?la=en&revision=704cc79c-9170-4832-8ac4-b8ddafc88bfe&modified=20200127144533&hash=3E9B35B99C0753A582AEDB01CD79D0E86916E3F4" style="margin: 0px 0px 15px 15px; float: right;" />
<h3>Super-community bank.</h3>
<p><em>Noun</em>, a friendly local bank with big bank products and services.</p>
<p>Use it in a sentence: "At a super-community bank, I can go to the branch and get a real person&rsquo;s advice about a lot of different options."</p>
<p>
</p>
<p>At Commerce Bank, our customers are at the center of all that we do. And we do a lot, from helping families plan for their future to giving businesses more room to grow. We get excited about people&rsquo;s goals &ndash; almost as excited as they do. Fortunately we have over <a href="/sitecore/service/notfound.aspx?item=web%3a%7b3CF129AC-BA4A-4C98-A9CD-58DFC8B46315%7d%40en">150 years of experience</a> and many strong, established products to back us up. From Bloomington, Illinois to Denver, Colorado, and at more than 150 branches in between, we serve individuals, families, businesses and communities at the <a href="https://locations.commercebank.com/locations/">local branch</a>, the ATM, online and through our <a href="/contact-us">24/7 customer service line</a>.</p>
<br />
<ul>
    <li><a href="/sitecore/service/notfound.aspx?item=web%3a%7b3CF129AC-BA4A-4C98-A9CD-58DFC8B46315%7d%40en">Get to Know Us</a></li>
    <li><a href="/-/media/cb/pdf/about-us/commerce-bancshares-inc-at-a-glance.pdf?la=en&revision=d5bde6d4-b50b-44f1-a37b-c1ba8b5a9b3d&modified=20210618161100&hash=557EAAC1A751464152BFB20BA4400C41CC425B3D" target="_blank">At a Glance <sup>[PDF]</sup></a>*</li>
    <li><a href="/-/media/cb/pdf/about-us/annual-reports/2019annualreport.pdf?la=en&revision=0875036d-9770-41f5-914a-cf2a736773bb&modified=20200428123800&hash=9E2E1C06E89E64240A21B468F7BC7C5CD4B1DFCD" target="_blank">2019 Annual Report <sup>[PDF]</sup></a>*</li>
    <li><a href="/sitecore/service/notfound.aspx?item=web%3a%7b9F773C9B-AE81-411B-81AE-B5109E731E09%7d%40en">Officers and Directors</a></li>
    <li><a href="https://investor.commercebank.com/">Investor Relations</a></li>
    <li><a href="/about-us/social-responsibility">Corporate Social Responsibility</a></li>
    <li><a href="/about-us/media-relations">Media Center</a></li>
    <li><a href="/about-us/awards">Awards &amp; Recognition</a></li>
    <li><a href="/about-us/challenge-accepted">Challenge Accepted<sup>&reg;</sup></a></li>
    <li><a href="/about-us/diversity-equity-inclusion">Inclusion &amp; Diversity</a></li>
    <li><a href="/about-us/prime-rate-update">Prime Rate Update</a></li>
    <li><a href="/about-us/accessibility">Website Accessibility</a></li>
</ul>--></div><div class="basic-content basic-content--shaded three-col-info-box">
    <h3><style>
    .basic-content h3, .basic-content .h3 {
    display: none;
    border-bottom: none !important;
    }

@media (min-width: 1024px) {
   .basic-content {
    padding: 10px 80px 20px !important;
    }
}
</style></h3>
    <p></p>
    <div class="three-col-modules">
        <div class="row">
<div class="col-xs-6 col-sm-4 three-col-col" style="height: 343px;">
        <h4><p style="text-align: center;"><a href="#"><img alt="shaking hands" src="static/-/media/cb/images/about-us/shaking-hands-icon-125.png?la=en&amp;revision=6579e9b0-7d37-48f6-9d01-e9f65fdd7e61&amp;modified=20201107000501&amp;hash=CDD749AFF909EC7E4B0A711971995229B8F56F05" style="max-width: 125px; height: auto;"></a></p>
</h4><h4 style="text-align: center;"><a href="#">Mission, Vision and Values</a></h4>
        <p></p><div style="text-align: center;">Read the purpose and values that make us who we are and guide our work.</div><p></p>
</div><div class="col-xs-6 col-sm-4 three-col-col" style="height: 343px;">
        <h4><p style="text-align: center;"><a href="#"><img alt="globe icon" src="static/-/media/cb/images/about-us/globe-icon-125.png?la=en&amp;revision=e0ac9e60-ae98-45aa-846a-d88a75eb4c4e&amp;modified=20201107000437&amp;hash=F22B364C58800F552384CE35F80A40D95AA7AAE6" style="max-width: 125px; height: auto;"></a></p>
</h4><h4 style="text-align: center;"><a href="#">Diversity, Equity &amp; Inclusion</a></h4>
        <p></p><div style="text-align: center;">Learn about our commitment to DEI and how it makes us a stronger company.</div><p></p>
</div><div class="col-xs-6 col-sm-4 three-col-col" style="height: 343px;">
        <h4><p style="text-align: center;"><a href="#"><img alt="people" src="static/-/media/cb/images/about-us/people-icon-125.png?la=en&amp;revision=870d202e-0f0a-4eef-8966-dca4b5deee9e&amp;modified=20201106231819&amp;hash=06B7E58F8CF4C3402C3E4CDC798D804703577312" style="max-width: 125px; height: auto;"></a></p>
</h4><h4 style="text-align: center;"><a href="#">Careers</a></h4>
        <p></p><div style="text-align: center;">Search openings and learn more about what it’s like to work with us.</div><p></p>
</div><div class="col-xs-6 col-sm-4 three-col-col" style="height: 343px;">
        <h4><p style="text-align: center;"><a href="#"><img alt="percent icon" src="static/-/media/cb/images/about-us/percent-icon-125.png?la=en&amp;revision=5c4911f2-12e8-4808-9762-4afcdde10f9f&amp;modified=20201106233532&amp;hash=05C0B147975BE793E373DD6963EE999CA0D978E1" style="width: 125px; height: auto;"></a></p>
</h4><h4 style="text-align: center;"><a href="#">By the Numbers</a></h4>
        <p></p><div style="text-align: center;">See our latest results and download our current "At a Glance".</div><p></p>
</div><div class="col-xs-6 col-sm-4 three-col-col" style="height: 343px;">
        <h4><p style="text-align: center;"><a href="/about-us/leadership"><img alt="bank icon" src="static/-/media/cb/images/about-us/bank-icon-125.png?h=auto&amp;la=en&amp;revision=1aa8549b-9402-41e0-b42f-2a9411644998&amp;modified=20201106233957&amp;hash=0153F944A6E0E71F776246DEE843752AEB884E66" style="max-width: 125px; height: auto;"></a></p>
</h4><h4 style="text-align: center;"><a href="#">Leadership</a></h4>
        <p></p><div style="text-align: center;">Meet Commerce Bank’s leaders.</div><p></p>
</div><div class="col-xs-6 col-sm-4 three-col-col" style="height: 343px;">
        <h4><p style="text-align: center;"><a href="https://commercebancshares2020index.q4web.com/corporate-profile/default.aspx" target="_blank"><img alt="tree chart icon" src="static/-/media/cb/images/about-us/tree-chart-368-icon-125.png?la=en&amp;revision=51abf62c-198e-4182-a652-6629fc5848f6&amp;modified=20201107170522&amp;hash=2E514B5C0B811CEF0916820EC0FD64FF0861DDB8" style="max-width: 125px; height: auto;"></a></p>
</h4><h4 style="text-align: center;"><a href="https://investor.commercebank.com/">Investor Relations</a></h4>
        <p></p><div style="text-align: center;">Access stock info, our filings &amp; financials and more.</div><p></p>
</div><div class="col-xs-6 col-sm-4 three-col-col" style="height: 343px;">
        <h4><p style="text-align: center;"><a href="#"><img alt="calendar icon" src="static/-/media/cb/images/about-us/calendar-icon-125.png?la=en&amp;revision=f5390802-bf00-44d9-aee0-ee5ae0e8bc35&amp;modified=20201107000449&amp;hash=3E06891D9F62D5B7935371F0F737D7C658D9E529" style="max-width: 125px; height: auto;"></a></p>
</h4><h4 style="text-align: center;"><a href="#">Our History</a></h4>
        <p></p><div style="text-align: center;">Our 155+ year history helps tell the story of who we are today. Read more here.</div><p></p>
</div><div class="col-xs-6 col-sm-4 three-col-col" style="height: 343px;">
        <h4><p style="text-align: center;"><a href="#"><img alt="award icon 368" src="static/-/media/cb/images/about-us/award-368-icon-125.png?la=en&amp;revision=5af97fdb-18c3-44f6-8150-72fd9b30b747&amp;modified=20201113210857&amp;hash=E6339A2ABEC3BE8831E060843A215E6A4540F215" style="max-width: 125px; height: auto;"></a></p>
</h4><h4 style="text-align: center;"><a href="#">Awards</a></h4>
        <p></p><div style="text-align: center;">Review our latest accolades.</div><p></p>
</div><div class="col-xs-6 col-sm-4 three-col-col" style="height: 343px;">
        <h4><p style="text-align: center;"><a href="#"><img alt="bullhorn icon" src="static/-/media/cb/images/about-us/bullhorn-icon-125.png?la=en&amp;revision=55734841-7cdb-4216-a4b9-7f4dfd12f38a&amp;modified=20201107153954&amp;hash=3A34FB823C1516C47913439BC497BAD5618FE880" style="max-width: 125px; height: auto;"></a></p>
</h4><h4 style="text-align: center;"><a href="#">Media Center</a></h4>
        <p></p><div style="text-align: center;">Find Commerce in the news.</div><p></p>
</div>        </div>
    </div>

</div>
</div>
    </div>



       <!--new footer begins-->
        <div class="footer_wrapper">
            <div class="footer">
                <div class="main_footer">
                    <div class="footer_about">
                        <div class="footer-list_wrapper">
                            <h4 class="footer-list_title">About Us</h4>
                            <ul class="footer-list_links list-unstyled">
                                <li>
                                    <a href="{{url_for('about_us')}}" target="_self">
                                        About Us Overview
                                    </a>

                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="footer_careers">
                        <div class="footer-list_wrapper footer-list_collapse">
                            <h4 class="footer-list_title">Careers </h4>
                            <button aria-expanded="false" aria-controls="2398C3A5E2914816A89B9A02AE8F9AC7-collapse">
                                <div class="footer-list_title">Careers <span class="arrow"></span></div>
                            </button>
                            <div class="collapse" id="2398C3A5E2914816A89B9A02AE8F9AC7-collapse">
                                <ul class="footer-list_links list-unstyled">
                                    <li>
                                        <a href="{{url_for('reg')}}" target="_self">
                                    Create Account                                        </a>

                                    </li>

                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="footer_security">
                        <div class="footer-list_wrapper footer-list_collapse">
                            <h4 class="footer-list_title">Security Center </h4>
                            <button aria-expanded="false" aria-controls="41E33518C18146E78B271F82FD721460-collapse">
                                <div class="footer-list_title">Security Center <span class="arrow"></span></div>
                            </button>
                            <div class="collapse" id="41E33518C18146E78B271F82FD721460-collapse">
                                <ul class="footer-list_links list-unstyled">
                                    <li>
                                        <a href="{{url_for('forget')}}" target="_self">
                                            Forget Password
                                        </a>

                                    </li>

                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="footer_links">
                        <div class="footer-list_wrapper footer-list_collapse">
                            <h4 class="footer-list_title">Other Links </h4>
                            <button aria-expanded="false" aria-controls="AF0CC3802C5E46E1B994B31892A8B7FF-collapse">
                                <div class="footer-list_title">Other Links <span class="arrow"></span></div>
                            </button>
                            <div class="collapse" id="AF0CC3802C5E46E1B994B31892A8B7FF-collapse">
                                <ul class="footer-list_links list-unstyled">
                                    <li>
                                        <a href="{{url_for('contact_us')}}" target="_self">
                                            Contact Us
                                        </a>

                                    </li>

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="secondary_footer clearfix">
                    <div class="secondary_footer1">
                        <div class="footer_ca">
                            <p><a href="{{url_for('about_us')}}"><img height="285" alt="Challenge Accepted - Commerce Bank logo" width="1077" src="static/-/media/cb/images/global/2018-cb-ca-white.png?la=en&revision=218baa5e-1f6f-4805-af51-e57894706b0c&modified=20200309150456&hash=11128B46BEC53F2E145BF06E72448649865E5E4B" /></a></p>

                        </div>
                        <div class="footer_social">
                            <div class="social-links">
                                <a class="link-external" data-content="#1DA1C65DEF844812831A23E9A44988D0" href="https://www.facebook.com/commercebank" target="_blank">
                                    <span class="icon-social-facebook"></span><span class="sr-only">Facebook</span>
                                </a>
                                <div class="link-external-content">
                                    <div id="1DA1C65DEF844812831A23E9A44988D0">
                                        <div class="external-title">You are now leaving the Commerce Bank website.</div>
                                        <div class="external-body"><p>By clicking the "I Agree" button below, you acknowledge and agree to the following:</p>
                                            <p>You will leave the Commerce Bank website and enter a third party social media/collaboration website. The information shared on Facebook.com is not the responsibility of Commerce Bank and we are not responsible for the content shared between users and participants on the site. Please note that Facebook.com may have its own privacy and security policies which differ from those of Commerce Bank. </p>
                                            <p>Never share your personal information on Facebook.</p></div>
                                        </div>
                                    </div>
                                    <a class="link-external" data-content="#712EFF89A68644559387C962B732E828" href="https://www.twitter.com/commercebank" target="_blank">
                                        <span class="icon-social-twitter"></span><span class="sr-only">Twitter</span>
                                    </a>
                                    <div class="link-external-content">
                                        <div id="712EFF89A68644559387C962B732E828">
                                            <div class="external-title">You are now leaving the Commerce Bank website.</div>
                                            <div class="external-body"><p>By clicking the "I Agree" button below, you acknowledge and agree to the following:</p>
                                                <p>You will leave the Commerce Bank website and enter a third party social media/collaboration website. The information shared on Twitter.com is not the responsibility of Commerce Bank and we are not responsible for the content shared between users and participants on the site. Please note that Twitter.com may have its own privacy and security policies which differ from those of Commerce Bank. </p>
                                                <p>Never share your personal information on Twitter.</p></div>
                                            </div>
                                        </div>
                                        <a class="link-external" data-content="#F60F88E10D474AB6BABE74881CAD652F" href="https://www.linkedin.com/company/commerce_bank" target="_blank">
                                            <span class="icon-social-linkedin"></span><span class="sr-only">LinkedIn</span>
                                        </a>
                                        <div class="link-external-content">
                                            <div id="F60F88E10D474AB6BABE74881CAD652F">
                                                <div class="external-title">You are now leaving the Commerce Bank website.</div>
                                                <div class="external-body"><p>By clicking the "I Agree" button below, you acknowledge and agree to the following:</p>
                                                    <p>You will leave the Commerce Bank website and enter a third party social media/collaboration website. The information shared on LinkedIn.com is not the responsibility of Commerce Bank and we are not responsible for the content shared between users and participants on the site. Please note that LinkedIn.com may have its own privacy and security policies which differ from those of Commerce Bank. </p>
                                                    <p>Never share your personal information on LinkedIn.</p></div>
                                                </div>
                                            </div>
                                            <a class="link-external" data-content="#5FC61178A8A84F7E8A7892FFC1EC16A6" href="https://www.instagram.com/commercebank" target="_blank">
                                                <span class="icon-social-instagram"></span><span class="sr-only">Instagram</span>
                                            </a>
                                            <div class="link-external-content">
                                                <div id="5FC61178A8A84F7E8A7892FFC1EC16A6">
                                                    <div class="external-title">You are now leaving the Commerce Bank website.</div>
                                                    <div class="external-body"><p>By clicking the "I Agree" button below, you acknowledge and agree to the following:</p>
                                                        <p>You will leave the Commerce Bank website and enter a third party social media/collaboration website. The information shared on Instagram.com is not the responsibility of Commerce Bank and we are not responsible for the content shared between users and participants on the site. Please note that Instagram.com may have its own privacy and security policies which differ from those of Commerce Bank. </p>
                                                        <p>Never share your personal information on Instagram.</p></div>
                                                    </div>
                                                </div>
                                                <a href="/about-us" target="_self"><span class="icon-cb-globe"></span><span class="sr-only">Globe Link and Icon</span></a>
                                            </div>
                                        </div>
                                    </div>


                        </div>
                        <!--new footer ends-->

                    </div>


                    <!-- Modal for External Link Disclaimer Pop-up -->
                    <div class="modal fade link-external-modal" id="linkExternal" tabindex="-1" role="dialog" aria-labelledby="leaveCommerceBank">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="icon-btn-close"></span></button>
                                    <h4 class="modal-title" id="leaveCommerceBank"></h4>
                                </div>
                                <div class="modal-body">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <a href="#" class="btn btn-primary btn-target">I Agree</a>
                                </div>
                            </div>
                        </div>

                    </div>


                    <!-- Required for navigation -->
                    <script defer src="static/Scripts/navigation/main.v-nboy1prfgl6jtcqkpapyw.js"></script>
                    <!-- END -->
                    <!-- Commented out below JS reference. These caused Mortgage pricing widget iframe to work incorrectly.
                       We will look a better way of injecting these into pages where only pardot froms exist instead of layout.
                        Implemented for resizing Pardot Forms in iframe
                        <script src="~static/Scripts/iframeResizer.min.js"></script>
                        <script src="~static/Scripts/pardot.iframe.js"></script>-->
                        <div hidden>
                            <span id="open-new-window">Opens in a new window. </span>
                            <span id="open-new-window-external-site">Opens an external site in a new window. </span>
                            <span id="open-external-site">Opens an external site. </span>
                            <span id="open-linkedin-link">Opens LinkedIn Site. </span>
                        </div>
                    </body>


                    </html>