<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Bank Transactions</title>
    <meta name="description" content="" />
    <meta name="author" content="Tooplate" />
    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" />
    <!-- Additional CSS Files -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" />
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/fontawesome.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/tooplate-style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/owl.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/lightbox.css')}}" />
  </head>
<!--
Tooplate 2116 Blugoon
https://www.tooplate.com/view/2116-blugoon
-->
  <body>
    <div id="page-wraper">
      <!-- Sidebar Menu -->
      <div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
          <i class="fa fa-times" id="menu-close"></i>
          <div class="container">
            <div class="image">
              <a href="#"><img src="{{url_for('static',filename='assets/images/Ebank.jpg')}}" alt="Blugoon by Tooplate" /></a>
            </div>
            <div class="author-content">
              <h4>BANK</h4>
              <span>Transactions</span>
            </div>
            <nav class="main-nav" role="navigation">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="login">LOGIN</a></li>
                <li><a href="logout">LOGOUT</a></li>
            </ul>
            </nav>
            <div class="social-network">
              <ul class="soial-icons">
              </ul>
            </div>
          </div>
        </div>
      </div>
      <section class="section contact-me" data-section="section4">
        <div class="container">
          <div class="section-heading">
            <h2>TRANSACTION FORM</h2>
            <div class="line-dec"></div>
          </div>
          <div class="row">
            <div class="right-content">
              <div class="container">
                <form id="contact" action="{{url_for('deposit')}}" method="post">
                  <div class="row">
                    <div class="col-md-6">
                      <fieldset>
                          <label>FROM</label>
                        <input name="Fromaccount" type="text" value="{{ a }}" class="form-control" readonly />
                      </fieldset>
                    </div>
                    <div class="col-md-6">
                      <fieldset>
                        <label>TO</label>
                        <input name="toaccount" type="text" pattern="^\d{9}$" title="9 digit number" class="form-control" placeholder="Receiver Account Number..." required=""/>
                      </fieldset>
                    </div>
                    <div class="col-md-6">
                      <fieldset>
                        <label>Amount</label>
                        <input name="Amount" type="number" class="form-control" id="amount" placeholder="Amount ..." required=""/>
                      </fieldset>
                    </div>
                    <div class="col-md-6">
                      <fieldset>
                        <label>Description</label>
                        <input name="Description" type="text" class="form-control" id="Description" placeholder="Description..." required=""/>
                      </fieldset>
                    </div>
                    <div class="col-md-6">
                      <fieldset>
                        <label>Bank Name</label>
                        <input name="BankName" type="text" class="form-control" id="bankname" placeholder="BankName..." required=""/>
                      </fieldset>
                    </div>
                    <div class="col-md-6">
                      <fieldset>
                        <label>SWIFT Code</label>
                        <input name="Swiftcode" type="text" class="form-control" id="swiftcode" placeholder="Swift Code..." required=""/>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="button">
                          Transfer
                        </button>
                      </fieldset>
                    </div>
                  </div>
                </form>
                <br><br><br>
               <div class="container mt-3" >
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class="flashes">
              {% for message in messages %}
                <div class="alert alert-success mb-3" role="success">
                {{ message }}
                </div>
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
               </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="static/assets/js/isotope.min.js"></script>
    <script src="static/assets/js/owl-carousel.js"></script>
    <script src="static/assets/js/lightbox.js"></script>
    <script src="static/assets/js/custom.js"></script>
    <script>
      //according to loftblog tut
      $(".main-menu li:first").addClass("active");

      var showSection = function showSection(section, isAnimate) {
        var direction = section.replace(/#/, ""),
          reqSection = $(".section").filter(
            '[data-section="' + direction + '"]'
          ),
          reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
          $("body, html").animate(
            {
              scrollTop: reqSectionPos
            },
            800
          );
        } else {
          $("body, html").scrollTop(reqSectionPos);
        }
      };

      var checkSection = function checkSection() {
        $(".section").each(function() {
          var $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var currentId = $this.data("section"),
              reqLink = $("a").filter("[href*=\\#" + currentId + "]");
            reqLink
              .closest("li")
              .addClass("active")
              .siblings()
              .removeClass("active");
          }
        });
      };

      $(".main-menu").on("click", "a", function(e) {
        e.preventDefault();
        showSection($(this).attr("href"), true);
      });

      $(window).scroll(function() {
        checkSection();
      });
    </script>
  </body>
</html>