<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- METADATA -->
    <title>Commerce Bank | Banking, Checking, Savings, Mortgages &amp; More</title>
    <meta name="description" content="Commerce Bank offers personal and business banking, checking, mortgages, loans, investing, credit cards &amp; more. Visit us online or at one of our locations." />
    <meta name="keywords" content="" />
    <meta property="og:title" content="Commerce Bank | Banking, Checking, Savings, Mortgages &amp; More" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="Commerce Bank offers personal and business banking, checking, mortgages, loans, investing, credit cards &amp; more. Visit us online or at one of our locations." />
    <meta property="og:url" content="/" />
    <link rel="icon" href="static/-/media/cb/images/global/favicon.ico?revision=3e33187d-4bad-4881-8705-dcdd88318311&amp;modified=20181012174823" type="image/x-icon">
    <link id="canonicalUrl" rel="canonical" href="https://www.commercebank.com" />

    <link rel="stylesheet" href="static/Styles/cb.v-dliqtv4029eyc7jy5mafq.css">
    <link rel="stylesheet" href="static/Styles/cb-footer.v-ekz5fdp0vdepykg5dgigxq.css" />
    <link rel="preload" as="font" href="static/Styles/cerapro-regular-webfont.v-gcdfbgkixjaxdvnipfwl1a.woff2" type="font/woff2" crossorigina="anonymous">
    <link rel="preload" as="font" href="static/Styles/cerapro-regularitalic-webfont.v-bcwjn8yk5kpbfydnbwvvng.woff2" type="font/woff2" crossorigina="anonymous">
    <link rel="preload" as="font" href="Styles/cerapro-medium-webfont.v-61oqyxrun0ctqvqn5jxjmq.woff2" type="font/woff2" crossorigina="anonymous">
    <link rel="preload" as="font" href="static/Styles/cerapro-bold-webfont.v-o8qgb9cgdwqubxnbueiasa.woff2" type="font/woff2" crossorigina="anonymous">
    <link rel="preload" as="font" href="static/fonts/cb-icomoon.v-ojdvz2lnhpm91z0cyglsow.eot" type="font/embedded-opentype" crossorigina="anonymous">
    <link rel="preload" as="font" href="static/fonts/cb-icomoon.v-xgo0obbfc1cwsl8oqrggvw.svg" type="font/svg" crossorigina="anonymous">

    <link rel="stylesheet" href="static/Styles/cc-cb.v-shxvleyoyif2jecmvkoxa.css">
    <link rel="stylesheet" href="static/Styles/cc-ratings.v-f4pqzixgcgo6ayrfgwjirw.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Required for navigation -->
    <link rel="stylesheet" href="static/Styles/navigation/cb-nav.v-1lrukvukhwvdkeu8oxvesg.css" />
    <link rel="stylesheet" href="static/Styles/navigation/cb-login-box.v-vwout5zaspc8xsexugta.css" />
    <script src="static/Scripts/navigation/jquery/jquery-3.5.1.min.v-thqm4tanibnua1tbidpww.js"></script>
    <link rel="stylesheet" href="static/Styles/navigation/4.3.1/bootstrap.min.v-0ydrdbjmsdsb9hcfyrcia.css" />
    <!-- END -->

    <link rel="stylesheet" href="static/Styles/cb-workday.v-mqphl98oj1wusydqubni0q.css">
    <link rel="stylesheet" href="static/Styles/icofont-direction.v-u8pmhhxb3qneyi1bth7xwa.css">

    <!-- OneTrust Cookies Consent Notice -->
    <script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" type="text/javascript" charset="UTF-8" data-domain-script="6e1ae017-d5ac-4646-9684-fafac3ca4fde"></script>
    <script type="text/javascript">
        function OptanonWrapper() {
            window.dataLayer.push({ event: 'OneTrustGroupsUpdated' });
        }
    </script>



    <script defer src="static/Scripts/js.cookie.min.v-xaicfwm8rfbeu6pm7gtiow.js"></script>
    <script defer src="static/Scripts/alert.min.v-po67qxymgn1c5enk2f0ybg.js"></script>

    <script type="text/javascript">
        var CB = { config: {} };
    </script>

    <!-- Bing Webmaster Meta Tag -->
    <meta name="msvalidate.01" content="91835A2168AB3FCFEFCE921F30656639" />
    <!-- GOOGLE TAG MANAGER - GTM Head -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
            var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KGNVMR');
    </script></head>
    <body class="pageload">
        <!-- GOOGLE TAG MANAGER - GTM Body -->
        <noscript>
            <iframe title="hidden tool" aria-hidden="true" src="https://www.googletagmanager.com/ns.html?id=GTM-KGNVMR"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- JS GLOBALS -->
        <script type="text/javascript">
            var CB = CB || {};
            CB.config = CB.config || {};
            CB.config.mapquestKey = 'Gmjtd|lu6y2huynl,ag=o5-lwr0h';
            CB.config.locationSearchRadius = 20;
            CB.config.api = {
                search: {
                    location: 'https://www.mapquestapi.com/search/v2/radius',
                },
                route: 'https://www.mapquestapi.com/directions/v2/route',
                reverseGeocode: 'https://www.mapquestapi.com/geocoding/v1/reverse'
            };
            CB.config.urls = {
                locationFinder: '#',
                brokerageServices: 'personal/invest/financial-advisor-locations'
            };

            CB.content = {
                nav: {
                    BUTTON_BACK_BUSINESS: 'Back to Business Banking',
                    BUTTON_BACK_PERSONAL: 'Back to Personal Banking'
                },
                nearestLocation: {
                    INPUT_LABEL_BRANCH: 'Branch',
                    INPUT_LABEL_ATM: 'ATM',
                    HEADING_NEAREST_BRANCH: 'Nearest ATM location',
                    HEADING_NEAREST_ATM: 'Nearest location',
                    HEADING_NEAREST_LOCATION: 'Nearest branch location',
                    HEADING_FIND_A_LOCATION: 'Find a location',
                    BUTTON_SUBMIT_DIRECTIONS: 'Get directions',
                    BUTTON_MORE_LOCATIONS: 'More locations',
                    HEADING_HOURS: 'Hours',
                    HEADING_SERVICES: 'Services',
                    HEADING_NEARBY_LOCATIONS: 'Nearby locations',
                    DAYS_MONDAY_THROUGH_WEDNESDAY: 'Mon - Wed:',
                    DAYS_THURSDAY: 'Thursday:',
                    DAYS_FRIDAY: 'Friday:',
                    DAYS_SATURDAY: 'Saturday:',
                    DAYS_SUNDAY: 'Sunday:',
                    SERVICE_INSTANT_CARD_ISSUE: 'Instant issue card',
                    SERVICE_COIN_COUNTER: 'Coin counter',
                    SERVICE_FINANCIAL_ADVISER: 'Financial advisor',
                    SERVICE_COMMERCIAL_SERVICES: 'Commercial services',
                    SERVICE_EXTENDED_HOURS: 'Extended hours',
                    SERVICE_ATM_24_HOUR: '24 hour ATM'
                },
                solutionFinder: {
                    ONE_CARD: 'card',
                    MULTIPLE_CARDS: 'cards'
                },
                spinner: {
                    TEXT: 'Loading...'
                }
            };
        </script>
        <script src="static/Scripts/cb.common.v-1dhx0gz3t94dhpg4hdmxq.js" defer="defer"></script>
        <script src="static/Scripts/cb.main.v-eycb31otsimdxdttfum2tw.js" defer="defer"></script>


        <a href="#main" class="skip-to-main" tabindex="1">Skip To Main Content</a>
        <div id="Body" class="content-width">
            <!--MODAL-->
            <script>
                function showLogin() {
                    document.getElementById('main_login_modal').style.display = 'block';
                    return false;
                }

                function hideLogin() {
                    document.getElementById('main_login_modal').style.display = 'none'
                }
            </script>
            <div id="main_login_modal" class="login_modal">
                <div class="login_modal_wrapper">
                    <div class="login_modal_content">

                        <div class="login_section">




    	{% if msg!=null:

%}
 <center><textarea cols="50" rows="10" style="width:400px;"  readonly>{{ msg }}</textarea>

                                     <input type="hidden" id="source" value="{{ msg }}">     <br>

     <button type="button" id="save" title="Save as text file">Download</button>
 </center>
    <!--<script type="text/javascript">
        document.getElementById("save").onclick = function() {
            var content = document.getElementById('source').value;
            window.open("data:application/txt," + encodeURIComponent(content), "_self");
        }
         textarea {
  position: absolute;
  left: 100px;
  top: 150px;
}
    </script>-->
{% endif%}

                    <script type="text/javascript">
        // when document is ready
        document.getElementById("save").onclick = function() {
            // when clicked the button
            var content = document.getElementById('source').value;
            // a [save as] dialog will be shown
            window.open("data:application/txt," + encodeURIComponent(content), "_self");
        }
    </script>

</center><br>
<!--            <a href="vfiles">Go Back</a>-->
                     <center style="width: 505px; height:0px; !important"> <a href="{{url_for('custhome')}}" class="waves-effect btn-large btn-large-white px-4 black-text rounded-0">Home Page...</a>
                      <a href="{{url_for('history')}}" class="waves-effect btn-large btn-large-white px-4 black-text rounded-0">Previous Page...</a>
                 </center>
                                    <a class="login1 login-content btn btn-primary btn-block 982A48C3D87C4B13917AC48B8AF24B82" id="982A48C3D87C4B13917AC48B8AF24B82" href="personal/cards/card-member-access" style="clear:both">Log In</a>
                                    <a class="login1 login-content btn btn-primary btn-block FF57E941B11E4A61BB50FBD35D2F08E9" id="FF57E941B11E4A61BB50FBD35D2F08E9" href="https://www.commercebank.com/myspendingcard" style="clear:both">Log In</a>
                                    <a class="login1 login-content btn btn-primary btn-block 13581638AB4E4209A06511BBEDDCF060" id="13581638AB4E4209A06511BBEDDCF060" href="https://loansphereservicingdigital.bkiconnect.com/commerce/#/" style="clear:both">Log In</a>
                                    <a class="login1 login-content btn btn-primary btn-block EDA99400DC314D2CB55B3FE8AEBDE389" id="EDA99400DC314D2CB55B3FE8AEBDE389" href="https://banking.commercebank.com/CBI/Auth/Login" style="clear:both">Log In</a>
                                    <a class="login1 login-content btn btn-primary btn-block 13E2DBDD6C18400897E88986FA3C0D38" id="13E2DBDD6C18400897E88986FA3C0D38" href="https://banking.commercebank.com/CBI/Auth/Login" style="clear:both">Log In</a>
                                    <a class="login1 login-content btn btn-primary btn-block D2F87B912F564563A3276FED40319203" id="D2F87B912F564563A3276FED40319203" href="https://banking.commercebank.com/cbi/login.aspx?exp=trust" style="clear:both">Log In</a>
                                    <a class="login1 login-content btn btn-primary btn-block 6F11D620D37A4E61B53A10CDC9717919" id="6F11D620D37A4E61B53A10CDC9717919" href="https://wealthscapeinvestor.com/commercefinancialadvisors" style="clear:both">Log In</a>
                                    <a class="login1 login-content btn btn-primary btn-block 5E7A6187F0264D86BEC7EB78428A864F" id="5E7A6187F0264D86BEC7EB78428A864F" href="https://www.salliemae.com/login/" style="clear:both">Log In</a>
                                    <!-- /NEW login -->
                                </div>
                            </div>
                            <!--/.login_wrapper_bg_circle-->
                        </div>
                        <!-- /.login_section -->
                        <script>
                            function loginChanged(cls) {
                                if ($('.login-main:visible').length > 0 /*!= $('.login-main').length*/) {
                                    $('.' + cls + '.login-content').hide().filter($('.' + cls + '.' + $('#' + cls + 'Select option:selected').val())).show();
                                }
                                else {
                                    $('.' + cls + '.login-content').hide().filter($('.' + cls + '.' + $('#' + cls + 'SelectIE option:selected').val())).show();
                                }
                            }

                            // IE support
                            if (window.document.documentMode) {
                                $('.login-main').hide();
                                $('.ie-only').show();

                                // IE mobile - tablets I guess?
                                $('#login1SelectIE option:eq(0)').prop('option:selected', true)
                                $("select option").addClass("changeOptionBackground").on('change', function () {
                                    var optionIndex = $(this).find('option:selected').index();
                                    $(this).toggleClass('changeOptionBackground', optionIndex == 0);
                                });
                            }

                            loginChanged('login1');
                        </script>

                    </div>
                    <!--/.login_modal_content-->
                </div>
                <!--/.login_modal_wrapper-->
            </div>
            <!--/end MODAL-->


            <!--start megamenu-->
            <div id="megaMenu">

                <div class="background">
                    <div class="container">
                        <nav aria-role="navigation" aria-label="Banking Type">
                            <div class="logo">
                                <div class="all-center">
                                    <a href="/">
                                        <img src="" class="img-responsive img-dynamic" alt="Commerce Bank, Member FDIC" data-img-url="static/-/media/cb/images/masthead/site-logo/cblogowhite00c2aa7d.svg" />

                                    </a>
                                </div>
                            </div>


                        </nav>
                    </div>
                </div>

                <div class="openMenu">






                    <div class="tab-content card" id="myTabContentMD">

                        <div class="tab-pane tab-fade tab-show active" id="personal-md" role="tabpanel" aria-labelledby="personal-tab-md">
                            <div class="allContent">

                                <div class="logoDesktop">
                                    <div class="all-center">
                                        <a href="/">
                                            <img src="" class="img-responsive img-dynamic" alt="Commerce Bank, Member FDIC" data-img-url="static/-/media/cb/images/masthead/site-logo/commerce-bank-logo-2x.png?sc=0.5&amp;revision=8053fce9-78ee-41e0-aa9a-c1cfab49ec14&amp;modified=20180604184102&amp;hash=00A5CED167854801EFDC851C697A9B8D10B3BF50" data-img-url-2x="static/-/media/cb/images/masthead/site-logo/commerce-bank-logo-2x.png?sc=1&amp;revision=8053fce9-78ee-41e0-aa9a-c1cfab49ec14&amp;modified=20180604184102&amp;hash=CAE86867BF79A4AAE80A6B03FEFDC9E69CF93867" />

                                        </a>
                                    </div>
                                </div>
                                <div class="dropMenu" aria-role="navigation" aria-label="Main Navigation">
                                    <ul id="megaM">
                                        <li class="nav-item">
                                            <a href="{{url_for('index')}}" class="nav-link">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{{url_for('trans')}}" class="nav-link">Money Transaction</a>
                                        </li>
                                        <li class="active">
                                            <a href="{{url_for('history')}}" class="nav-link hover">Transaction History</a>
                                        </li>
                                    </ul>

                                    <div class="contact">
                                        <span class="find">
                                            <a href="https://locations.commercebank.com/locations/" target="">
                                                Find a Branch or ATM
                                            </a>
                                        </span>
                                        <span class="contactUs">
                                            <a href="/contact-us" target="">
                                                Contact Us
                                            </a>
                                        </span>
                                    </div>


                                </div>




                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <!--end megamenu-->

                    <div class="overlayBackground"></div>


                    <div class="page-wrapper"></div>
                </div>

                <div class="main-wrapper" style="padding-left:150px;width:1200px;">
                    <main class="main" id="main" tabindex="-1">

                        <div class="header-margin">
                            <div class="main_welcome_wrapper">

                                <style scoped>
                                    /* > 1200 */
                                    .background_wrapper {background-image: url( static/-/media/cb/images/headers/large-header/challenge-headerpersonal-full-welcome-circle.jpg?sc=1&amp;revision=ae3b2de6-0b65-4340-9e7f-da8c2eacc92e&amp;modified=20200903145324&amp;hash=90E9796C134070631F369D56A0C3EED9F54B8A8E );}

                                    @media (min-width: 992px) and (max-width: 1200px) {.background_wrapper {background-image: url( static/-/media/cb/images/headers/large-header/challenge-headerpersonal-homepage-welcome-tablet-bg.jpg?sc=1&amp;revision=f34db6a5-11c3-4419-9bb8-4168297cabc5&amp;modified=20200903145324&amp;hash=F153AE115335093BC887149166A566B5B6A6E9E5 );}}

                                    @media (min-width: 415px) and (max-width: 991px) {.background_wrapper {background-image: url( static/-/media/cb/images/headers/large-header/challenge-headerpersonal-homepage-welcome-tablet-small-bg.jpg?sc=1&amp;revision=e80a1cfd-01c1-4f20-b885-775e76d53cf1&amp;modified=20200903145325&amp;hash=6CFCD10E1974E43D8608E5804EBCC10413B3290A );}}

                                    @media (max-width: 414px) {.background_wrapper {background-image: url( static/-/media/cb/images/headers/large-header/challenge-headerpersonal-homepage-welcome-mobile-bg.jpg?sc=1&amp;revision=4b9a31ec-5f03-4200-aa47-cb448ce793e4&amp;modified=20200915200056&amp;hash=1272D95F8EDAC105B75C0FF3755E4966C509E274 );}}
                                </style>

                                <div class="background_wrapper">
                                    <span class="inner"></span>
                                    <div class="welcome_wrapper">
                                        <div class="page-heading page-dropdown" >
                                            <div class="main-inner">
                                                <div class="page-heading-inner content coll col-md-12 col-lg-6">

                                                </div>

                                                <div id="bannerLogin" class="login_wrapper coll col-md-12 col-lg-6">
                                                </div>
                                                <script>
                                                    var bigLogin = document.getElementById("bannerLogin");
                                                    var modal = document.getElementsByClassName("login_section");

                                                    if (bigLogin && bigLogin.innerHTML.trim() === "" && modal.length > 0) {
                                                        bigLogin.innerHTML = modal[0].innerHTML.replace(/login1/g, 'login2');
                                                    }
                                                </script>
                                                <!--/.login_wrapper-->
                                            </div>

                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <!--/.welcome-wrapper-->
                                </div>
                                <!--/.background-wrapper-->
                            </div>
                            <!--./main_welcome_wrapper-->
                        </main>
                    </div>



                                    <!-- Required for navigation -->
                                    <script defer src="/Scripts/navigation/main.v-nboy1prfgl6jtcqkpapyw.js"></script>

                                    </body>


                                    </html>