<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- METADATA -->
    <title>Contact Us | Customer Service | Commerce Bank</title>
    <meta name="description" content="Contact Commerce Bank customer service whenever you need us via phone, email or in a branch location." />
    <meta name="keywords" content="contact, contact us, customer service, support, account services, help" />
    <meta property="og:title" content="Contact Us | Customer Service" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="Contact Commerce Bank customer service whenever you need us via phone, email or in a branch location." />
    <meta property="og:url" content="/contactus" />
    <link rel="icon" href="static/-/medial/cb/images/global/favicon.ico?revision=3e33187d-4bad-4881-8705-dcdd88318311&amp;modified=20181012174823" type="image/x-icon">
    <link id="canonicalUrl" rel="canonical" href="https://www.commercebank.com/contact-us" />

    <link rel="stylesheet" href="static/Styles/cb.v-dliqtv4029eyc7jy5mafq.css">
    <link rel="stylesheet" href="static/Styles/cb-footer.v-ekz5fdp0vdepykg5dgigxq.css" />
    <link rel="preload" as="font" href="static/Styles/cerapro-regular-webfont.v-gcdfbgkixjaxdvnipfwl1a.woff2" type="font/woff2" crossorigina="anonymous">
    <link rel="preload" as="font" href="static/Styles/cerapro-regularitalic-webfont.v-bcwjn8yk5kpbfydnbwvvng.woff2" type="font/woff2" crossorigina="anonymous">
    <link rel="preload" as="font" href="static/Styles/cerapro-medium-webfont.v-61oqyxrun0ctqvqn5jxjmq.woff2" type="font/woff2" crossorigina="anonymous">
    <link rel="preload" as="font" href="static/Styles/cerapro-bold-webfont.v-o8qgb9cgdwqubxnbueiasa.woff2" type="font/woff2" crossorigina="anonymous">
    <link rel="preload" as="font" href="static/fonts/cb-icomoon.v-ojdvz2lnhpm91z0cyglsow.eot" type="font/embedded-opentype" crossorigina="anonymous">
    <link rel="preload" as="font" href="static/fonts/cb-icomoon.v-xgo0obbfc1cwsl8oqrggvw.svg" type="font/svg" crossorigina="anonymous">

    <link rel="stylesheet" href="static/Styles/cc-cb.v-shxvleyoyif2jecmvkoxa.css">
    <link rel="stylesheet" href="static/Styles/cc-ratings.v-f4pqzixgcgo6ayrfgwjirw.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Required for navigation -->
    <link rel="stylesheet" href="static/Styles/navigation/cb-nav.v-1lrukvukhwvdkeu8oxvesg.css" />
    <link rel="stylesheet" href="static/Styles/navigation/cb-login-box.v-vwout5zaspc8xsexugta.css" />
    <script src="static/Scripts/navigation/jquery/jquery-3.5.1.min.v-thqm4tanibnua1tbidpww.js"></script>
    <link rel="stylesheet" href="static/Styles/navigation/4.3.1/bootstrap.min.v-0ydrdbjmsdsb9hcfyrcia.css" />
    <!-- END -->

    <link rel="stylesheet" href="static/Styles/cb-workday.v-mqphl98oj1wusydqubni0q.css">
    <link rel="stylesheet" href="static/Styles/icofont-direction.v-u8pmhhxb3qneyi1bth7xwa.css">

    <!-- OneTrust Cookies Consent Notice -->
    <script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" type="text/javascript" charset="UTF-8" data-domain-script="6e1ae017-d5ac-4646-9684-fafac3ca4fde"></script>
    <script type="text/javascript">
        function OptanonWrapper() {
            window.dataLayer.push({ event: 'OneTrustGroupsUpdated' });
        }
    </script>



    <script defer src="static/Scripts/js.cookie.min.v-xaicfwm8rfbeu6pm7gtiow.js"></script>
    <script defer src="static/Scripts/alert.min.v-po67qxymgn1c5enk2f0ybg.js"></script>

    <script type="text/javascript">
        var CB = { config: {} };
    </script>


    <!-- GOOGLE TAG MANAGER - GTM Head -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
            var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KGNVMR');
    </script></head>
    <body class="pageload">
        <!-- GOOGLE TAG MANAGER - GTM Body -->
        <noscript>
            <iframe title="hidden tool" aria-hidden="true" src="https://www.googletagmanager.com/ns.html?id=GTM-KGNVMR"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- JS GLOBALS -->
        <script type="text/javascript">
            var CB = CB || {};
            CB.config = CB.config || {};
            CB.config.mapquestKey = 'Gmjtd|lu6y2huynl,ag=o5-lwr0h';
            CB.config.locationSearchRadius = 20;
            CB.config.api = {
                search: {
                    location: 'https://www.mapquestapi.com/search/v2/radius',
                },
                route: 'https://www.mapquestapi.com/directions/v2/route',
                reverseGeocode: 'https://www.mapquestapi.com/geocoding/v1/reverse'
            };
            CB.config.urls = {
                locationFinder: '#',
                brokerageServices: 'static/Assets/personal/invest/financial-advisor-locations'
            };

            CB.content = {
                nav: {
                    BUTTON_BACK_BUSINESS: 'Back to Business Banking',
                    BUTTON_BACK_PERSONAL: 'Back to Personal Banking'
                },
                nearestLocation: {
                    INPUT_LABEL_BRANCH: 'Branch',
                    INPUT_LABEL_ATM: 'ATM',
                    HEADING_NEAREST_BRANCH: 'Nearest ATM location',
                    HEADING_NEAREST_ATM: 'Nearest location',
                    HEADING_NEAREST_LOCATION: 'Nearest branch location',
                    HEADING_FIND_A_LOCATION: 'Find a location',
                    BUTTON_SUBMIT_DIRECTIONS: 'Get directions',
                    BUTTON_MORE_LOCATIONS: 'More locations',
                    HEADING_HOURS: 'Hours',
                    HEADING_SERVICES: 'Services',
                    HEADING_NEARBY_LOCATIONS: 'Nearby locations',
                    DAYS_MONDAY_THROUGH_WEDNESDAY: 'Mon - Wed:',
                    DAYS_THURSDAY: 'Thursday:',
                    DAYS_FRIDAY: 'Friday:',
                    DAYS_SATURDAY: 'Saturday:',
                    DAYS_SUNDAY: 'Sunday:',
                    SERVICE_INSTANT_CARD_ISSUE: 'Instant issue card',
                    SERVICE_COIN_COUNTER: 'Coin counter',
                    SERVICE_FINANCIAL_ADVISER: 'Financial advisor',
                    SERVICE_COMMERCIAL_SERVICES: 'Commercial services',
                    SERVICE_EXTENDED_HOURS: 'Extended hours',
                    SERVICE_ATM_24_HOUR: '24 hour ATM'
                },
                solutionFinder: {
                    ONE_CARD: 'card',
                    MULTIPLE_CARDS: 'cards'
                },
                spinner: {
                    TEXT: 'Loading...'
                }
            };
        </script>
        <script src="static/Scripts/cb.common.v-1dhx0gz3t94dhpg4hdmxq.js" defer="defer"></script>
        <script src="static/Scripts/cb.main.v-eycb31otsimdxdttfum2tw.js" defer="defer"></script>


        <a href="#main" class="skip-to-main" tabindex="1">Skip To Main Content</a>
        <div class="theme-wrapper">
            <!--MODAL-->
            <script>
                function showLogin() {
                    document.getElementById('main_login_modal').style.display = 'block';
                    return false;
                }

                function hideLogin() {
                    document.getElementById('main_login_modal').style.display = 'none'
                }
            </script>
            <div id="main_login_modal" class="login_modal">
                <div class="login_modal_wrapper">
                    <div class="login_modal_content">
                        <header>
                            <span class="login_modal_content_close">
                                <a href="#" onclick="hideLogin()">X</a>
                            </span>
                        </header>

                        <div class="login_section">
                            <div class="bubbles"></div>
                            <div class="login_wrapper_bg_circle">
                                <div class="login_text">


                                    <!-- NEW login -->
                                    <h2 class="login_welcome">Log in or select an account:</h2>
                                    <label class="login_dropdown login_label_left" />
                                    <div class="login form-group login_select" style="padding: initial; margin: initial;">
                                        <span class="account-type">Select your account type</span>
                                        <div class="login-main">
                                            <select id="login1Select" class="selectpicker" onchange="loginChanged('login1');">
                                                <option value="A3F86833BD044DF68B6516A97AF10B30">Online Banking</option>
                                                <option value="982A48C3D87C4B13917AC48B8AF24B82">Credit Cards</option>
                                                <option value="FF57E941B11E4A61BB50FBD35D2F08E9">mySpending Card&#174;</option>
                                                <option value="13581638AB4E4209A06511BBEDDCF060">Mortgage Loans</option>
                                                <option value="EDA99400DC314D2CB55B3FE8AEBDE389">Health Services Financing</option>
                                                <option value="13E2DBDD6C18400897E88986FA3C0D38">Health Payment Plan</option>
                                                <option value="D2F87B912F564563A3276FED40319203">Commerce Trust Wealth Manager</option>
                                                <option value="6F11D620D37A4E61B53A10CDC9717919">Brokerage Account</option>
                                                <option value="5E7A6187F0264D86BEC7EB78428A864F">Student Loans</option>
                                            </select>
                                        </div>

                                        <div class="ie-only" style="display: none;">
                                            <select id="login1SelectIE" style="width: 100% !important; max-width: 100% !important; height: 35px !important;" onchange="loginChanged('login1');">
                                                <option value="A3F86833BD044DF68B6516A97AF10B30">Online Banking</option>
                                                <option value="982A48C3D87C4B13917AC48B8AF24B82">Credit Cards</option>
                                                <option value="FF57E941B11E4A61BB50FBD35D2F08E9">mySpending Card&#174;</option>
                                                <option value="13581638AB4E4209A06511BBEDDCF060">Mortgage Loans</option>
                                                <option value="EDA99400DC314D2CB55B3FE8AEBDE389">Health Services Financing</option>
                                                <option value="13E2DBDD6C18400897E88986FA3C0D38">Health Payment Plan</option>
                                                <option value="D2F87B912F564563A3276FED40319203">Commerce Trust Wealth Manager</option>
                                                <option value="6F11D620D37A4E61B53A10CDC9717919">Brokerage Account</option>
                                                <option value="5E7A6187F0264D86BEC7EB78428A864F">Student Loans</option>
                                            </select>
                                        </div>
                                    </div>
                                    <form class="login1 login-content A3F86833BD044DF68B6516A97AF10B30" id="A3F86833BD044DF68B6516A97AF10B30" method="post" action="https://banking.commercebank.com/CBI/Auth/Login" style="clear:both">
                                        <div class="form-group">
                                            <!--<label for="nav-online-banking-customer-id">Customer ID</label>-->
                                            <input type="text" id="nav-online-banking-customer-id" class="form-control" name="txtUserID" placeholder="Enter Customer ID" />
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-block">Log In</button>
                                    </form>
                                    <a class="login1 login-content btn btn-primary btn-block 982A48C3D87C4B13917AC48B8AF24B82" id="982A48C3D87C4B13917AC48B8AF24B82" href="static/Assets/personal/cards/card-member-access" style="clear:both">Log In</a>
                                    <a class="login1 login-content btn btn-primary btn-block FF57E941B11E4A61BB50FBD35D2F08E9" id="FF57E941B11E4A61BB50FBD35D2F08E9" href="https://www.commercebank.com/myspendingcard" style="clear:both">Log In</a>
                                    <a class="login1 login-content btn btn-primary btn-block 13581638AB4E4209A06511BBEDDCF060" id="13581638AB4E4209A06511BBEDDCF060" href="https://loansphereservicingdigital.bkiconnect.com/commerce/#/" style="clear:both">Log In</a>
                                    <a class="login1 login-content btn btn-primary btn-block EDA99400DC314D2CB55B3FE8AEBDE389" id="EDA99400DC314D2CB55B3FE8AEBDE389" href="https://banking.commercebank.com/CBI/Auth/Login" style="clear:both">Log In</a>
                                    <a class="login1 login-content btn btn-primary btn-block 13E2DBDD6C18400897E88986FA3C0D38" id="13E2DBDD6C18400897E88986FA3C0D38" href="https://banking.commercebank.com/CBI/Auth/Login" style="clear:both">Log In</a>
                                    <a class="login1 login-content btn btn-primary btn-block D2F87B912F564563A3276FED40319203" id="D2F87B912F564563A3276FED40319203" href="https://banking.commercebank.com/cbi/login.aspx?exp=trust" style="clear:both">Log In</a>
                                    <a class="login1 login-content btn btn-primary btn-block 6F11D620D37A4E61B53A10CDC9717919" id="6F11D620D37A4E61B53A10CDC9717919" href="https://wealthscapeinvestor.com/commercefinancialadvisors" style="clear:both">Log In</a>
                                    <a class="login1 login-content btn btn-primary btn-block 5E7A6187F0264D86BEC7EB78428A864F" id="5E7A6187F0264D86BEC7EB78428A864F" href="https://www.salliemae.com/login/" style="clear:both">Log In</a>
                                    <!-- /NEW login -->
                                </div>
                            </div>
                            <!--/.login_wrapper_bg_circle-->
                        </div>
                        <!-- /.login_section -->
                        <script>
                            function loginChanged(cls) {
                                if ($('.login-main:visible').length > 0 /*!= $('.login-main').length*/) {
                                    $('.' + cls + '.login-content').hide().filter($('.' + cls + '.' + $('#' + cls + 'Select option:selected').val())).show();
                                }
                                else {
                                    $('.' + cls + '.login-content').hide().filter($('.' + cls + '.' + $('#' + cls + 'SelectIE option:selected').val())).show();
                                }
                            }

                            // IE support
                            if (window.document.documentMode) {
                                $('.login-main').hide();
                                $('.ie-only').show();

                                // IE mobile - tablets I guess?
                                $('#login1SelectIE option:eq(0)').prop('option:selected', true)
                                $("select option").addClass("changeOptionBackground").on('change', function () {
                                    var optionIndex = $(this).find('option:selected').index();
                                    $(this).toggleClass('changeOptionBackground', optionIndex == 0);
                                });
                            }

                            loginChanged('login1');
                        </script>

                    </div>
                    <!--/.login_modal_content-->
                </div>
                <!--/.login_modal_wrapper-->
            </div>
            <!--/end MODAL-->


            <!--start megamenu-->
            <div id="megaMenu">

                <div class="background">
                    <div class="container">
                        <nav aria-role="navigation" aria-label="Banking Type">
                            <div class="logo">
                                <div class="all-center">
                                    <a href="/">
                                        <img src="" class="img-responsive img-dynamic" alt="Commerce Bank, Member FDIC" data-img-url="static/-/medial/cb/images/masthead/site-logo/cblogowhite00c2aa7d.svg?sc=0.5&amp;revision=84c44cf4-c4cd-464b-af56-2daaa8047e21&amp;modified=20200623220845&amp;hash=3BBFD28DDC531153AA4B12518E50F6CB7ADC79FE" data-img-url-2x="static/-/medial/cb/images/masthead/site-logo/cblogowhite00c2aa7d.svg?sc=1&amp;revision=84c44cf4-c4cd-464b-af56-2daaa8047e21&amp;modified=20200623220845&amp;hash=7445B3524AFBCCD563926A56DB0884A44872E08F" />

                                    </a>
                                </div>
                            </div>

                            <div class="login-menu">
                                <div class="logIn">
                                    <span class="log-in" onclick="showLogin()"><a href="#">Log In</a></span>
                                </div>
                                <div class="hamburgerBtn">
                                    <div class="hamburger ">
                                        <div class="line"></div>
                                        <div class="line"></div>
                                        <div class="line"></div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>

                <div class="openMenu">

                    <div class="tab-content card" id="myTabContentMD">

                        <div class="tab-pane tab-fade tab-show active" id="personal-md" role="tabpanel" aria-labelledby="personal-tab-md">
                            <div class="allContent">

                                <div class="logoDesktop">
                                    <div class="all-center">
                                        <a href="/">
                                            <img src="" class="img-responsive img-dynamic" alt="Commerce Bank, Member FDIC" data-img-url="static/-/media/cb/images/masthead/site-logo/commerce-bank-logo-2x.png?sc=0.5&amp;revision=8053fce9-78ee-41e0-aa9a-c1cfab49ec14&amp;modified=20180604184102&amp;hash=00A5CED167854801EFDC851C697A9B8D10B3BF50" data-img-url-2x="static/-/media/cb/images/masthead/site-logo/commerce-bank-logo-2x.png?sc=1&amp;revision=8053fce9-78ee-41e0-aa9a-c1cfab49ec14&amp;modified=20180604184102&amp;hash=CAE86867BF79A4AAE80A6B03FEFDC9E69CF93867" />

                                        </a>
                                    </div>
                                </div>
                            <div class="dropMenu" aria-role="navigation" aria-label="Main Navigation">
                                    <ul id="megaM">
                                         <li class="nav-item">
                                            <a href="{{url_for('custhome')}}" class="nav-link">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{{url_for('trans')}}" class="nav-link">Money Transaction</a>
                                        </li>
                                        <li class="active">
                                            <a href="{{url_for('history')}}" class="nav-link hover">Transaction History</a>
                                        </li>
                                         <li class="nav-item">
                                            <a href="{{url_for('index')}}" class="nav-link">Logout</a>
                                        </li>
                                    </ul>

                                    <div class="contact">
                                        <span class="find">
                                            <a href="https://locations.commercebank.com/locations/" target="">
                                                Find a Branch or ATM
                                            </a>
                                        </span>
                                        <span class="contactUs">
                                            <a href="/contact-us" target="">
                                                Contact Us
                                            </a>
                                        </span>
                                    </div>


                                </div>




                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end megamenu-->
 <center>{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
					<div class="alert alert-{{ category }}">
					{{ message }}
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}

		{% block content %} {% endblock %}
 </center>

            <div class="overlayBackground"></div>

            <main class="main" id="main" tabindex="-1">

                <div class="main-inner">

                    <div class="header header-small header-with-graphic  header-highlight-blue img-dynamic" data-img-url="static/-/media/cb/images/headers/small-header/small-header-graphic-2x-01.jpg"
                    data-img-url-mobile="static/-/medial/cb/images/headers/small-header/small-header-graphic-2x-01.jpg">
                    <span class="sr-only">circles on a green background</span>
                    <div class="header-inner">
                        <div class="header-content">
                           <h1 class="sr-only">Commerce Bank Customer Service</h1>
                            <h2 class="h2">
                               New Transaction

                            </h2>

                        </div>
                    </div>

                </div><br><br>
 <div class="login_section">
                            <div class="bubbles"></div>
<!--                            <div class="login_wrapper_bg_circle">-->
     <form class="login1 login-content A3F86833BD044DF68B6516A97AF10B30" method="post" action="{{url_for('transback')}}" style="clear:both">
                               <center> <div class="login_text">


                                    <div class="login form-group login_select" style="padding: initial; margin: initial;">
<!--                                        <span class="account-type">Select your account type</span>-->
                                        <div class="login-main" style="width:632px;">
                                            <select id="login1Select1" class="selectpicker" name="ctg" >
                                                <option value="Food&-1">Select Category</option>
                                                <option value="Food&Drinks">Food&Drinks</option>
                                                <option value="Beauty">Beauty</option>
                                                <option value="Work">Work</option>
                                                <option value="Travel">Travel</option>
                                                <option value="Groceries">Groceries</option>
                                                <option value="Education">Education</option>
                                                <option value="Entertainment">Entertainment</option>
                                                <option value="Vehicle">Vehicle</option>
                                                <option value="Gifts">Gifts</option>
                                                <option value="Transport">Transport</option>
                                                <option value="Shopping">Shopping</option>
                                                <option value="Health Care">Health Care</option>
                                                <option value="Bills&Fees">Bills&Fees</option>
                                                <option value="Family">Family</option>
                                                <option value="Personal">Personal</option>
                                                <option value="Sports">Sports</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>

                                    </div>
                                       <div class="login form-group login_select" style="padding: initial; margin: initial;">
<!--                                        <span class="account-type">Select your account type</span>-->
                                           <div class="login-main" style="width:632px;">
                                            <select id="login1Select2" class="selectpicker" name="transtype" >
                                                <option value="Food&-1">Select Transaction type</option>
                                                <option value="Food&Local Transaction">Local Transaction</option>
                                                <option value="Other State">Other State</option>
                                                <option value="Other Country">Other Country</option>

                                            </select>
                                        </div>

                                    </div>
                                        <div class="form-group">
                                            <!--<label for="nav-online-banking-customer-id">Customer ID</label>-->
                                            <input  style="width:632px;" type="tel" class="form-control" name="accno" placeholder="Enter Account Number" pattern="^\d{9}$" title="9 digit number" required="" />
                                            <input  style="width:632px;" type="tel" class="form-control" name="conaccno" placeholder="Confirm Account Number" pattern="^\d{9}$" title="9 digit number" required="" />
                                            <input  style="width:632px;" type="text" class="form-control" name="swift" placeholder="Enter Swift Number" required="" />
                                            <input  style="width:632px;" type="text" class="form-control" name="rname" placeholder="Account Holder Name" required="" />
                                            <input  style="width:632px;" type="email" class="form-control" name="remail" placeholder="Account Holder Email" required="" />
                                            <input  style="width:632px;" type="number" class="form-control" name="amount" placeholder="Enter Amount" required="" />
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-block" style="width:428px;">Submit</button>
                                    <br /></div></center>
                                    </form>

                                </div>
                            </div>
                            <!--/.login_wrapper_bg_circle-->
                        </div>






                    <!-- Required for navigation -->
                    <script defer src="static/Scripts/navigation/main.v-nboy1prfgl6jtcqkpapyw.js"></script>
                    <!-- END -->
                    <!-- Commented out below JS reference. These caused Mortgage pricing widget iframe to work incorrectly.
                        We will look a better way of injecting these into pages where only pardot froms exist instead of layout.
                        Implemented for resizing Pardot Forms in iframe
                        <script src="~static/Scripts/iframeResizer.min.js"></script>
                        <script src="~static/Scripts/pardot.iframe.js"></script>-->
                        <div hidden>
                            <span id="open-new-window">Opens in a new window. </span>
                            <span id="open-new-window-external-site">Opens an external site in a new window. </span>
                            <span id="open-external-site">Opens an external site. </span>
                            <span id="open-linkedin-link">Opens LinkedIn Site. </span>
                        </div>
                    </body>


                    </html>